
Data/factors_dnmv.mat
Data/ff_c.mat
Data/ff_c_dW.mat
Data/ff_dW.mat
Data/ff_rep.mat
Data/ff_tc_dnmv.mat
Data/frk.mat
Data/frk_tc.mat
Data/hmlm.mat
Data/hmlm_dW.mat
Data/hmlm_raw_data.csv
Data/hmlm_rep.mat
Data/hmlm_sS.mat
Data/hmlm_sS_dW.mat
Data/hmlm_sS_tc.mat
Data/hmlm_tc.mat
Data/hxz.mat
Data/hxz_dW.mat
Data/hxz_raw_data.csv
Data/hxz_rep.mat
Data/hxz_sS.mat
Data/hxz_sS_dW.mat
Data/hxz_sS_tc.mat
Data/hxz_tc.mat
Data/umd_sS.mat
Data/umd_sS_dW.mat
Data/umd_sS_tc.mat
dnmv_log_20220427.txt
Figures/figure1.pdf
Figures/figure2.pdf
Figures/figure3.pdf
Figures/figure4a_color.pdf
Figures/figure4b_color.pdf
Figures/figure5.pdf
Figures/figure6.pdf
Figures/figureB1a_color.pdf
Figures/figureB1b_color.pdf
Figures/figureE1.pdf
Figures/figureE2.pdf
Results/anomalyResults.mat
Results/anomalyResultsPostPub.mat
Results/anomReturnSeries.mat
Results/bootstrap_capm.mat
Results/bootstrap_netting.mat
Results/bootstrap_results.mat
Results/DetzelNovy-MarxVelikovTablesOutput.txt
Results/fullSampleResults.mat
Results/OOS_results.mat
